<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Главная<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inCinema">Сериалы<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/popular">Фильмы<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forKids">Актёры<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">О нас</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" (keyup)="search()">
        <a class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white;">Профиль</a>
      </form>
    </div>
  </nav>
  <div class="request">
    <div class="results" *ngIf="response;">
      <ul style="list-style-type: none;">
        <li *ngFor="let result of response" class="resultItem">
          <img src="{{imageRequest + result.poster_path}}" alt="">
          <a href="#">{{result.original_title}}</a>
          <hr>
        </li>
      </ul>
    </div>
  </div>