.results{
    position: relative;
    /* margin-top: 3.5%; */
    margin-right: 2%;
    min-width: auto;
    height: auto;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    padding: 5px;
    width: auto;
  }

  .resultItem{
    padding: 1px;
  }

  .resultItem img {
    width: 40px;
  }
  .resultItem a{
    margin-left: 15px;
    text-align: center;
    color: #28a745;
    transition: .4s;
  }

  .navbar-brand img {
    width: 30px;
  }