nav p {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
}

iframe {
    width: 50%;
}

.trailer_container{
    display: flex;
}

.trailer_item{
    margin: 0 auto;
}